<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BIAScheduler.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <BIAScheduler.My.MySettings>
            <setting name="connection" serializeAs="String">
                <value>Data Source=LeoTest\SQLEXPRESS;Initial Catalog=robots;Persist Security Info=True;User ID=webSericeUser;Password=H96yN40Wp2jZZDaaVSnF</value>
            </setting>
            <setting name="shedNameHourlyText" serializeAs="String">
                <value>Hourly</value>
            </setting>
            <setting name="reportEveryMinText" serializeAs="String">
                <value>minute</value>
            </setting>
            <setting name="reportEveryHourText" serializeAs="String">
                <value>hour</value>
            </setting>
            <setting name="shedNameWeeklyText" serializeAs="String">
                <value>Weekly</value>
            </setting>
            <setting name="specificText" serializeAs="String">
                <value>specific time</value>
            </setting>
            <setting name="betweenText" serializeAs="String">
                <value>between</value>
            </setting>
            <setting name="shedNameSpecDatesText" serializeAs="String">
                <value>On specific dates</value>
            </setting>
            <setting name="actionNameSendEmailText" serializeAs="String">
                <value>Send Email</value>
            </setting>
            <setting name="unb" serializeAs="String">
                <value>LEOLEV.CB1032021_SQHxXCst961W</value>
            </setting>
        </BIAScheduler.My.MySettings>
    </applicationSettings>
</configuration>
